<div class="row">
  <div class="col-auto has-text-centered pb-4">
    <h1>Welcome, {{user.username}}!</h1><br>
  </div>
</div>

<div class="mb-5 pt-3">
  <h2 class="title">This is your dashboard</h2>
  <h3>A safe space to add, edit, and delete your posts.</h3>
  <hr> <br><br>
</div>

<ul>
  <li>
    <a href="/dashboard/create" class="button is-primary is-pulled-right" id="create">New Post
    </a>
  </li>
  <li>
    <a href="/dashboard/edit" class="button is-link is-pulled-right" id="edit">Edit Post
    </a>
  </li>
</ul>


{{!-- DELETE post --}}
<div>
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delbtn post-list" data-id="{{post.id}}">DELETE</button>
        <button class="btn btn-sm btn-warning edit-post-form">Edit</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


{{#if posts.length}}
</div>

{{#each posts as |post|}}
{{> post-info post}}

<a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
</div>
{{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any posts</h6>

{{/if}}



<script src='/js/delete-post.js'></script>

<script src='/js/edit-post.js'></script>